<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862898499355-f4fkrlrcj0g48im2suh9cio3nsspas7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862898499355-f4fkrlrcj0g48im2suh9cio3nsspas7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBxDkiTgevAaEX64GtuOocWc9XEuKAD45c</string>
	<key>GCM_SENDER_ID</key>
	<string>862898499355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geomathApp</string>
	<key>PROJECT_ID</key>
	<string>geomathapp-7b721</string>
	<key>STORAGE_BUCKET</key>
	<string>geomathapp-7b721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862898499355:ios:cce12beca1ec9c8a0cedbe</string>
</dict>
</plist>